<div class="d-flex justify-content-between interface-position">
  <h5>Filter: <a href=""> All</a></h5>
  <div>
    <%= link_to "+ Add Patient", new_patient_path, class: "btn btn-flat-add-patient" %>
    <%= link_to "+ Add Meeting", new_consultation_path, class: "btn btn-flat-add-meeting button-position" %>
  </div>
</div>

<div class="calendar-container">

</div>

