<div class="searchbar">
  <!-- <p class='toto-side'><i class="fas fa-search"></i> Search for a patient</p> -->
  <!-- <p class="right-side"><i class="far fa-bell"></i></p> -->
  <%= form_tag('#') do %>
    <%= text_field_tag 'search', nil, placeholder: 'Search for a patient' %>
  <% end %>
</div>
