<div class="searchbar">
  <!-- <p class='toto-side'><i class="fas fa-search"></i> Search for a patient</p> -->
  <!-- <p class="right-side"><i class="far fa-bell"></i></p> -->
  <%= form_tag patients_path, id: "search_form", method: :get do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for a patient"
    %>
  <% end %>
</div>
