<div style="margin-top: 15px;">
  <div class="back-to-dashboard" style="max-width: 235px;">
    <%= link_to dashboard_path, class:"erase d-flex" do %>
      <i class="fas fa-chevron-left" id="down"></i>
      <p>Back to dashboard</p>
    <% end  %>
  </div>

  <div class="container-index">
    <div class="d-flex card_free">
      <div class="category-index" style="width: 15vw">
        <h4>Name</h4>
      </div>
      <div class="category-index" style="width: 15vw">
        <h4>Email</h4>
      </div>
      <div class="category-index" style="width: 10vw">
        <h4>Category</h4>
      </div>
      <div class="category-index" style="width: 10vw">
        <h4>Type</h4>
      </div>
      <div class="category-index" style="width: 10vw">
        <h4>Next/Last meeting</h4>
      </div>
      <div class="category-index" style="width: 10vw ">
        <h4>Comment</h4>
      </div>
    </div>
  </div>
<div>
