<div style="margin-top: 15px;">
  <div class="back-to-dashboard" style="max-width: 235px;">
    <%= link_to dashboard_path, class:"erase d-flex" do %>
      <i class="fas fa-chevron-left" id="down"></i>
      <p>Back to dashboard</p>
    <% end  %>
  </div>

  <div class="d-flex justify-content-around">
    <div class="card_free text-responsivity-patient-info" style="height: fit-content; width: 20vw;">
      <div class="creation_category border-bottom">
        <h5>Patient Information</h5>
        <p>General information about the patient</p>
      </div>

      <div class="creation_category border-bottom">
      <h5>Medical Record</h5>
        <p>Medical report of the patient situation</p>
      </div>
      <div class="creation_category border-bottom">
        <h5>Treatment</h5>
        <p>A detail list of the treatment data</p>
      </div>
      <div id="selected_category" class="creation_category">
        <h5>Insurance</h5>
        <p>All insurance information of the patient</p>
      </div>
    </div>

    <div class="card general-padding-20" style="width: 55vw; height: 370px;">
      <h2 class="mr">Insurance</h2>
      <form class=general-padding-50>
        <div class="form-group">
          <label class="form_label">Insurance company name</label>
          <input class="form-control">
        </div>
        <div class="form-group">
          <label class="form_label">Insurance number</label>
          <input class="form-control">
        </div>
      </form>
      <div class="d-flex justify-content-end"><%= link_to "ADD PATIENT", dashboard_path, class: "btn btn-success wider"%></div>
    </div>
  </div>
</div>
