<div class="container">
  <h1>INSURANCE BAYBEY!</h1>

  <div class="card">
    <div class="creation_category">
      <h5>Patient Information</h5>
      <p>General information about the patient</p>
    </div>
    <div class="creation_category">
      <h5>Medical Record</h5>
      <p>Medical report of the patient situation</p>
    </div>
    <div class="creation_category">
      <h5>Treatment</h5>
      <p>A detail list of the treatment data</p>
    </div>
    <div id="selected_category" class="creation_category">
      <h5>Insurance</h5>
      <p>All insurance information of the patient</p>
    </div>
  </div>

  <%= link_to "ADD PATIENT", dashboard_path, class: "btn btn-success" %>
</div>
