<div style="margin-top: 15px;">
  <div class="back-to-dashboard" style="max-width: 235px;">
    <%= link_to dashboard_path, class:"erase d-flex" do %>
      <i class="fas fa-chevron-left" id="down"></i>
      <p>Back to dashboard</p>
    <% end  %>
  </div>

  <div class="d-flex justify-content-around">
    <div class="card_free text-responsivity-patient-info" style="height: fit-content; width: 20vw;">
      <div class="creation_category border-bottom">
        <h5>Patient Information</h5>
        <p>General information about the patient</p>
      </div>

      <div id="selected_category" class="creation_category border-bottom">
      <h5>Medical Record</h5>
        <p>Medical report of the patient situation</p>
      </div>
      <div class="creation_category border-bottom">
        <h5>Treatment</h5>
        <p>A detail list of the treatment data</p>
      </div>
      <div class="creation_category">
        <h5>Insurance</h5>
        <p>All insurance information of the patient</p>
      </div>
    </div>


    <div class="card_free general-padding-20" style="width: 55vw">
      <h2 class="mr">Medical Record</h2>

        <div class="d-flex justify-content-between mr_category">
          <h5>PERINATAL INFORMATION</h5>
          <i class="fas fa-sort-down fa-3x mr_fas" style="margin-top:-30px"></i>
        </div>
        <div class="d-flex justify-content-between mr_category">
          <h5>FAMILY BACKGROUND</h5>
          <i class="fas fa-sort-down fa-3x mr_fas" style="margin-top:-30px"></i>
        </div>
        <div class="d-flex justify-content-between mr_category">
          <h5>DISEASES & CONSTRAINTS</h5>
          <i class="fas fa-sort-down fa-3x mr_fas" style="margin-top:-30px"></i>
        </div>
        <div class="d-flex justify-content-between mr_category">
          <h5>HOSPITALIZATIONS & EXAMS</h5>
          <i class="fas fa-sort-down fa-3x mr_fas" style="margin-top:-30px"></i>
        </div>

      <div class="d-flex justify-content-end">
        <%= link_to "SKIP", treatments_path, class: "btn btn-outline-secondary margin-right-50" %>
        <%= link_to "NEXT", treatments_path, class: "btn btn-primary margin-right-50" %>
      </div>
    </div>
  </div>

</div>
