<div style="margin-top: 15px;">
  <div class="d-flex justify-content-around">
    <div class="card_free text-responsivity-patient-info" style="height: fit-content; width: 25vw;">
      <div class="creation_category border-bottom">
        <h5>Patient Information</h5>
        <p>General information about the patient</p>
      </div>

      <div id="selected_category" class="creation_category border-bottom">
      <h5>Medical Record</h5>
        <p>Medical report of the patient situation</p>
      </div>
      <div class="creation_category border-bottom">
        <h5>Treatment</h5>
        <p>A detail list of the treatment data</p>
      </div>
      <div class="creation_category">
        <h5>Insurance</h5>
        <p>All insurance information of the patient</p>
      </div>
    </div>


    <div class="card_free general-padding-20" style="width: 55vw">
      <h2 class="mr">Medical Record</h2>

        <div class="d-flex justify-content-between mr_category">
          <p>PERINATAL INFORMATION</p>
          <i class="fas fa-sort-down fa-3x mr_fas pattient-new" style="font-size: 35px;"></i>
        </div>
        <div class="d-flex justify-content-between mr_category">
          <p>FAMILY BACKGROUND</p>
          <i class="fas fa-sort-down fa-3x mr_fas pattient-new" style="font-size: 35px;"></i>
        </div>
        <div class="d-flex justify-content-between mr_category">
          <p>DISEASES & CONSTRAINTS</p>
          <i class="fas fa-sort-down fa-3x mr_fas pattient-new" style="font-size: 35px;"></i>
        </div>
        <div class="d-flex justify-content-between mr_category">
          <p>HOSPITALIZATIONS & EXAMS</p>
          <i class="fas fa-sort-down fa-3x mr_fas pattient-new" style="font-size: 35px;"></i>
        </div>

      <div class="d-flex justify-content-end">
        <%= link_to "SKIP", treatments_path, class: "btn btn-outline-secondary margin-right-50" %>
        <%= link_to "NEXT", treatments_path, class: "btn btn-primary margin-right-50" %>
      </div>
    </div>
  </div>

</div>
