<div class="container">

  <div class="card">
    <div class="creation_category">
      <h5>Patient Information</h5>
      <p>General information about the patient</p>
    </div>
    <div id="selected_category" class="creation_category">
      <h5>Medical Record</h5>
      <p>Medical report of the patient situation</p>
    </div>
    <div class="creation_category">
      <h5>Treatment</h5>
      <p>A detail list of the treatment data</p>
    </div>
    <div class="creation_category">
      <h5>Insurance</h5>
      <p>All insurance information of the patient</p>
    </div>
  </div>

  <div class="card">
    <h2 id="mr">Medical Record</h2>
    <div class="inside_detail">
      <div id="mr_category" class="row">
        <h4>PERINATAL INFORMATION</h4>
        <i class="fas fa-sort-down fa-3x"></i>
      </div>
      <div id="mr_category" class="row">
        <h4>FAMILY BACKGROUND</h4>
        <i class="fas fa-sort-down fa-3x"></i>
      </div>
      <div id="mr_category" class="row">
        <h4>DISEASES & CONSTRAINTS</h4>
        <i class="fas fa-sort-down fa-3x"></i>
      </div>
      <div id="mr_category" class="row">
        <h4>HOSPITALIZATIONS & EXAMS</h4>
        <i class="fas fa-sort-down fa-3x"></i>
      </div>
    </div>
    <div class="row">
      <%= link_to "SKIP", treatments_path, class: "btn btn-outline-secondary" %>
      <%= link_to "NEXT", treatments_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>
