<div class="container">

  <div class="card">
    <div class="creation_category">
      <h5>Patient Information</h5>
      <p>General information about the patient</p>
    </div>
    <div class="creation_category">
      <h5>Medical Record</h5>
      <p>Medical report of the patient situation</p>
    </div>
    <div id="selected_category" class="creation_category">
      <h5>Treatment</h5>
      <p>A detail list of the treatment data</p>
    </div>
    <div class="creation_category">
      <h5>Insurance</h5>
      <p>All insurance information of the patient</p>
    </div>
  </div>

  <div class="card">
    <h2 id="mr">Treatments</h2>
    <div class="inside_detail">
      <button type="button" class="btn btn-outline-primary">Add a Treatment</button>
    </div>
    <div class="row">
      <%= link_to "SKIP", insurance_path, class: "btn btn-outline-secondary" %>
      <%= link_to "NEXT", insurance_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>
