.meeting-card {
  color: #707683;
  padding: 1vh;
  background-color: white;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  width: 15vw;
  height: 7vh;
  line-height: 0.8;
}

.meeting-card:hover {
  color: #707683;
  padding: 1.2vh;
  background-color: white;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  width: 15vw;
  height: 12vh;
  line-height: 2;
  p{
    font-size: 2.1vh;
  }
  h4 {
    font-size: 2.1vh;
  }
}

.link {
  position: relative;
  a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
a:hover {
  border: solid 1px #8F99A3;
}
}

.consultation-container {
  width: 82vw;
}

.card-container {
padding-left: 60px;
padding-top: 50px;
margin-bottom: 20px;
background-color: white;
box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-container-edit {
padding: 50px 60px 0px 60px;
margin-bottom: 20px;
margin: 0px 20px;
background-color: white;
box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
}

.mail_contener {
  background-color: white;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 50px;
  margin: 20px;
}

.card-left {
width: 8vw;
}

.card-right {
width: 8vw;
}


.input-card {
  width: 100%;
}

.form-field {
  min-height: 5em;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  margin-bottom: 25px;
}


.consultation-index {
  overflow-y: auto;
  overflow-x: hidden;
  height: 81vh;
  position: relative;
  &::-webkit-scrollbar {
      width: 1em;
  }

  &::-webkit-scrollbar-track {

  }

  &::-webkit-scrollbar-thumb {

  }
}

.email-card {
  color: #707683;
  padding: 10px;
  background-color: white;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 100%;
  padding: 10px 30px;
  h3 {
    font-weight: bold;
  }
}
