.meeting-card {
    color: #707683;
  h3 {
    font-size: 15px;
  }

  p, li {
    font-weight: lighter;
  }

}

.yellowborder {
  border-left: solid #109CF1
}

.blueborder {
  border-left: solid #F5BB5C
}

.lightblueborder {
  border-left: solid #334D6E
}

