.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  // margin: auto;
  position: relative;
}

.card_free {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: white;
}

.patient_index{
  width: 60%;
}

.tab {
  width: 25%;
  text-align: center;
}




