#selected_category h5 {
  color: #4ca1fa;
}

#selected_category p {
  color: #474747;
}


#mr {
  border-bottom: 1px solid lightgrey;
}

#mr_category {
  border-bottom: 1px solid lightgrey;
  margin: 0px 50px;
  color: #7a7a7a;
}

#form_label {
  color: #7a7a7a;
}

.fas {
  color: #b2b2b2;
}

.creation_category {
  color: lightgrey;
}

.btn-success {
  color: white;
}
