.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  // margin: auto;
  position: relative;
}

.card_free {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: white;
}

.patient_index{
  width: 60%;
}

.tab {
  width: 25%;
  text-align: center;
  p, i {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  p {
    margin-right: auto;
    margin-left: 5px;
  }
  i {
    margin-left: auto;
    margin-right: 5px;
  }
}

.fas {
  line-height: 1.5;
}




