.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  // margin: auto;
  position: relative;
}

.card_free {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  background-color: white;
}

.patient_index{
  width: 70%;
}

.tab {
  width: 25%;
  text-align: center;
  p, i {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  p {
    margin-right: auto;
    margin-left: 5px;
  }
  i {
    margin-left: auto;
    margin-right: 5px;
  }
}

.empty {
  width: 25%;
  height: 4px;
  margin-top: -8px;
}

.full {
  width: 25%;
  height: 4px;
  background-color: #404751;
  margin-top: -8px;
}


.back-to-dashboard {
  padding-left : 1.5%;
  font-size: 20px;
  p {
    text-decoration: none;
    color: #6A707E;
    padding-left: 5px;
  }
  i {
    color: #52A6EB;
    height: -5px;
  }
  p:hover {
    opacity: 0.7;
  }
}

.erase:hover {
  text-decoration: none;
}

#down {
  line-height: 1.5;
}

.follow-up {
  background-color: #68D083;
  color: white;
  border-radius: 3px;
  line-height: 1.5s;
  padding: 15px;
}

.dashboard_index {
  margin: 30px;
}
