.badgetag {
  padding: 10px 20px;
  border-radius: 30px;
  margin: 2px 2px;
  .fas {
    color: white;
    margin-right: 10px;
    text-align: left;
    font-weight: bolder;
  }
  color: rgba(0, 0, 0, 0.4);
}
