.text-responsivity-patient-info {
  h5 {
    font-size: 2.5vh;
  }
  p {
    font-size: 1.5vh
  }
}

.text-responsivity-patient-general {
  h2{
    font-size: 2.5vh;
  }
  h5{
    font-size: 2vh;
  }
  header{
    font-size: 2vh;
  }
  p{
    font-size: 1.5vh;
  }
}


.consultation-index-responsive {
  h4 {
    font-size: 2.6vh;
  }

  h3 {
    font-size: 2.4vh;
  }

  p {
    font-size: 1.6vh;
  }
}

.meeting-card{
 h3 {
  font-size: 2.5vh;
 }
 h4 {
  font-size: 2vh;
 }
  p {
  font-size: 1.5vh;
  }
}

.tab {
  p, i {
    font-size: 2.2vh
  }
}

.sidebar {
  li {
    font-size: 1.8vh;
  }
}
