<div class="dashboard_index">
  <h1 style="font-size: 4vh; margin-bottom: 25px;"><strong><%= @patient.first_name  %> <%= @patient.last_name  %></strong> - Email History</h1>
</div>
<div class="email-index">
  <% patient.emails.each do |email| %>
    <div class="email-card-show link">
      <div class="d-flex justify-content-between">
      <% if email.title.present? %>
      <h4><%= email.title %></h4>
      <% else %>
      <h4>Email Title</h4>
      <% end %>

      </div>
      <h4>Sent at <%= email.consultation.start_time.strftime("%H") %>h55 </h4>
    </div>
  <% end %>
</div>
