<div class="dashboard_index">
  <div class="d-flex justify-content-between">
    <h5>Filter: <a href=""> All</a></h5>
    <%#= link_to "New email", new_consultation_email_path(@consultation), class:"follow-up" %>
  </div>
</div>
<div class="email-index">
  <% patient.emails.each do |email| %>
    <div class="email-card link">
      <h3>Email title: <%= email.title %></h3>
      <p>Sent date: <%= email.consultation.end_time %></p>
      <ul><li class='list-inline'><%= email.consultation.patient.first_name%> <%= email.consultation.patient.last_name  %></li></ul>
      <span></span>
      <%#= link_to '', patient_path %>
    </div>
  <% end %>
</div>
