<div style="margin-top: 35px;">
  <div class="container-index">
    <div class="email-index">
      <% @emails.each do |email| %>
        <div class="email-card link">
          <h3>Email title: <%= email.title %></h3>
          <p>Sent date: <%= email.consultation.end_time %></p>
          <ul><li class='list-inline'><%= email.consultation.patient.first_name%> <%= email.consultation.patient.last_name  %></li></ul>
          <span></span>
          <%#= link_to '', patient_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
