<div style="margin-top: 35px;">
  <div class="container-index">
    <div class="email-index">
      <% @emails.each do |email| %>
        <div class="email-card link">
          <h4>Email title: <%= email.title %></h4>
          <p>Sent date: <%= email.consultation.end_time %></p>
          <p><%= email.consultation.patient.first_name%> <%= email.consultation.patient.last_name  %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
